.postsSection {
	width: var(--section-width);
	margin: 2rem auto;
}

.postsContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 4rem;
}

/* =================== Post =================== */
.postCard {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	transition: all 0.2s ease-in-out;
}

.postCard:hover {
	transform: scale(1.05);
}

.postCardInner {
	width: 90%;
	padding: 1rem 0;
	margin: 0 auto;
}

.postCardInner > * {
	color: #333;
}

.postCardImgWrap {
	height: 250px;
	position: relative;
	margin-bottom: 1rem;
}

.postCardImgWrap > * {
	border-radius: 5px;
}

.postTitle {
	margin: 1rem 0 0.5rem 0;
	font-size: 2.25rem;
	text-transform: capitalize;
	font-weight: 400;
}

.postTime {
	display: inline-block;
	margin-bottom: 1rem;
	font-size: 1.75rem;
	font-weight: 400;
}

.postText {
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.postLink {
	display: inline-block;
	margin-bottom: 1rem;
	padding: 0.75rem 1.5rem;
	font-size: 1.5rem;
	border-radius: 5px;
	color: #fff;
	background-color: rgb(6, 171, 248);
}

/* =================== Single Post =================== */
.singlePostWrap {
	width: var(--section-width);
	margin: 2rem auto 0 auto;
}

.singlePostCardInner {
	width: 95%;
	margin: 0 auto;
	padding: 1rem 0;
}

.singlePostCardHeaderWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.singlePostCardImgWrap {
	height: 500px;
	position: relative;
	margin-bottom: 1rem;
}

.singlePostTitle {
	margin: 1rem 0;
	font-size: 3.5rem;
	text-transform: capitalize;
	font-weight: 400;
	color: #333;
}

.singlePostTime {
	font-size: 2.25rem;
	text-transform: capitalize;
	font-weight: 400;
	color: #333;
}

.singlePostBtn {
	display: inline-block;
	margin-bottom: 2rem;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	border-radius: 5px;
	background-color: #f4f4f4;
	color: #333;
}

.singlePostBtn:hover {
	opacity: 0.9;
}

.singlePostCard {
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1300px) {
	.postsSection {
		width: 95%;
	}

	.singlePostWrap {
		width: 95%;
	}
}

@media screen and (max-width: 768px) {
	.postCard {
		text-align: center;
	}

	.singlePostCard {
		text-align: center;
	}

	.singlePostCardHeaderWrap {
		flex-direction: column;
		margin-bottom: 1rem;
		text-align: center;
	}
}

@media screen and (max-width: 425px) {
	.postsContainer {
		grid-template-columns: 1fr;
	}
}
